@import url(http://fonts.googleapis.com/css?family=Oswald);

/*** Reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
	  display: block;
  }
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
  q:before, q:after {
	  content: '';
	  content: none;
  }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********/
body {
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  font-weight: normal;
  background-color: #d5a295;
  margin: 0;
  padding: 15px;
}

#content {
  margin: 10px;
}
#wrap {
  text-align: center;
}
#backlink {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 100px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}
#backlink a {
  color: #FFF;
  text-decoration: none;
}

h2 {
  padding: 15px;
  font-size: 1.5rem;
  font-weight: normal;
}

.skipdrawyes {
  text-decoration: line-through;
  color: #999 !important;
}
.skipdrawno {
  text-decoration: underline;
}
.legenddiv p {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
}
#reloadbutton {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  right: 100px;
  top: 0.5rem;
  cursor: pointer;
}

#spinnerdiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
